.main {
  position: fixed;
  bottom: 0;
  top: 0;
  right: 0;
  left: 0;
  background-color: antiquewhite;
  padding: 5rem;
  .card {
    background-color: aliceblue;
    border-radius: 40px;
    padding: 1rem;
    border: 2px solid black;
    height: calc(100vh - 10rem);
  }
}
